app = 'ai-defender'
primary_region = 'ams'

[build]

[env]
  NODE_ENV = 'production'
  PORT = '3000'
  API_URL = 'http://ai-defender-api.internal:5000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.http_options]
    idle_timeout = 360

[[http_service.checks]]
  grace_period = '10s'
  interval = '30s'
  method = 'GET'
  path = '/'
  timeout = '5s'

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
